.formField {
	margin-left: 30px;
}
.readonlyField .label {
	display: inline;
	text-align: left;
	font-size: 12pt;
	font-weight: bold;	
	padding-right: 5px;
} 
.readonlyField .label:after {
	content: ":";
}
.readonlyField .value {
	display: inline;
	font-size: 12pt;
}
.readonlyField .translate {
	display: inline;
	font-size: 10pt;
	line-height: 1.5em;
	font-weight: normal;
	padding-left: 5px;
	margin-left: 0px;
}
.editableField label {
	display: block;
	text-align: left;
	font-size: 12pt;
	font-weight: bold;
}
.editableField label:after {
	content: ":";
}
.editableField.required label:before {
	content: "*";
}
.editableField.required.hasError label:before {
  color: #FF3F3F;
}
.editableField .messages {
	display: block;
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
	margin-left: 20px;
}
.editableField input, 
.editableField textarea, 
.editableField select {
	margin-left: 20px;
}
.editableField.hasError input, 
.editableField.hasError textarea, 
.editableField.hasError select {
	border: 2px solid #FF3F3F;
}
.editableField .lookup {
	background: transparent url('lookup.gif') no-repeat scroll left center;
	width: 15px;
	height:	15px;
	border: 0;
	padding: 0;
}
.editableField .lookup:hover {
	cursor: pointer;
}
.editableField .translate {
	display: inline;
	font-size: 10pt;
	line-height: 1.5em;
	font-weight: normal;
	padding-left: 5px;
	margin-left: 0px;
}
.editableField .errors {
	position: relative;
	display: block;
	background: transparent url('error.gif') no-repeat scroll 5px center;
	padding: 10px;
	padding-left: 30px;
	margin-top: 12px;
  margin-bottom: 6px;

	border: 2px solid #FF3F3F;
	border-radius: 10px;	

	text-align: left;
	font-size: 10pt;
	font-weight: normal;
	white-space: normal;
	color: #FF3F3F;
	margin-left: 20px;
}
.editableField .errors:before {
	content:" ";
	position:absolute;
	top: -10px;
	left: 40px;
  border-width:0 10px 10px;
	border-style:solid;
  border-color:#FF3F3F transparent; 
	display:block; 
	width:0;
}
.editableField .errors:after {
	content:" ";
	position:absolute;
	top: -7px;
	left: 41px;
  border-width:0 9px 9px;
	border-style:solid;
  border-color: #FFF transparent; /* set to background color */
	display:block; 
	width:0;
}
